<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: parent(~{::section}, ~{::title}, ~{::script})}">

<head>
    <title>Contact Us Page</title>
</head>

<body>

<section class="space-y-4">
    <h1 class="text-2xl font-bold">Welcome to Contact Page</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Pariatur blanditiis nostrum aut voluptatem molestias autem nisi harum delectus minima omnis.
    </p>
</section>

<script>
    console.log("Contact Page");
</script>

</body>
</html>