<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: parent(~{::section}, ~{::title}, ~{::script})}">

<head>
    <title>Home Page</title>
</head>

<body>

<section class="space-y-4">
    
    <h1 class="text-3xl font-bold">Welcome to Home Page</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Pariatur blanditiis nostrum aut voluptatem molestias autem nisi harum delectus minima omnis.
    </p>

</section>

<script>
    console.log("home page");
</script>

<script>
    console.log("second home page script");
</script>

</body>
</html>
















































































</body>
</html>