<!DOCTYPE html>
<html lang="en"
      th:replace="~{base :: parent(~{::section}, ~{::title}, ~{::script})}">

<head>
    <title>Services</title>
</head>

<body>

<section class="space-y-4">

    <h1 class="text-3xl font-bold">Welcome to Services Page</h1>

    <h2 class="text-xl font-semibold">Services offered by SCM</h2>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eaque temporibus ex unde ducimus, aspernatur praesentium assumenda quaerat dolorum,
        dolorem quas deserunt corporis.
    </p>

    <p>
        Quae rerum sapiente recusandae, asperiores quisquam quo et.
    </p>

</section>

<script>
    console.log("services page");
</script>

</body>
</html>